$blue800: #1e429f;
$blue300: #a4cafe;
$blue200: #c3ddfd;
$blue-highlight: #13a7ff;
$gray200: #e5e7eb;
$bg-dark: #2f2f2f;
$bg-lighter: #3b3b3b;
$sidebar-clr: #313131;
$sidebar-text: #afafaf;
$sidebar-heading: #cacaca;
$text-clr: #b6b6b6;
$ligther-text-clr: #c7c7c7;
$link-clr: #a498fa;
$key-clr: #242424;

// hero section
$method-bg: #3b3b3b;

// features
$features-bg: #0a2540;
