$blue800: #1e429f;
$blue300: #a4cafe;
$blue200: #c3ddfd;
$blue-highlight: #13a7ff;
$gray200: #e5e7eb;
$bg-dark: #2F2F2F;
$bg-lighter: #3b3b3b;
$sidebar-text: #afafaf;
$sidebar-heading: #cacaca;
$text-clr: #b6b6b6;
$ligther-text-clr: #c7c7c7;
$link-clr: #a498fa;
$key-clr: #242424;