@import "colors";
@import "variables";
@import "media_queries";

%align-center {
  display: flex;
  align-items: center;
}

.navbar {
  background: $bg-dark;
  height: $navbar-height;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1400px) / 2);
  z-index: 10;
  position: relative;

  font-family: $headings-ff;
  transition: all 50ms ease-in-out;

  &__logo {
    color: $gray200;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 48px;
    @extend %align-center;
  }

  &__menu {
    @extend %align-center;
    text-align: center;
    margin-right: 48px;

    transition: all 0.3s ease-in-out;

    @include tablet {
      display: none;
    }
  }

  &__menu--links {
    display: block;
    width: 100%;
    color: $gray200;
    @extend %align-center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    padding-bottom: 0.5rem;

    &.active-page {
      border-bottom: 2px solid $blue-highlight;
    }

    &:hover,
    :active {
      color: $blue-highlight;
      transition: all 0.3s ease;
    }
  }

  &__hamburger {
    display: none;
    z-index: 5;

    &:hover {
      color: $blue-highlight;
    }

    @include tablet {
      display: block;
      background-color: inherit;
      border: none;
      margin-right: 24px;
      cursor: pointer;
    }
  }
}

// .navbar__menu--links.active-page{
//   border-bottom: 5px solid red;
// }

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: $bg-lighter;
  z-index: 4;

  a {
    padding: 2rem 0;
  }
}

.navbar__hamburger.is-active {
  background-color: $bg-lighter;
}

.navbar__hamburger.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.navbar__hamburger.is-active .bar:nth-child(2) {
  opacity: 0;
}

.navbar__hamburger.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
